In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
from datetime import datetime

In [8]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 15

In [10]:
my_date = datetime(my_year, my_month, my_day )

In [11]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [12]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute)

In [13]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 15)

In [14]:
my_date_time.day

2

In [15]:
my_date_time.month

1

In [16]:
first_two = [datetime(2016,1,1), datetime(2016,1,2)]

In [17]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [18]:
dt_ind = pd.DatetimeIndex(first_two)

In [19]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [21]:
data = np.random.randn(2,2)

In [22]:
data

array([[-0.41665571,  0.29528942],
       [ 0.06940373,  0.69028265]])

In [23]:
cols = ['a', 'b']

In [24]:
df = pd.DataFrame(data, dt_ind, cols)

In [25]:
df

                   a         b
2016-01-01 -0.416656  0.295289
2016-01-02  0.069404  0.690283

In [26]:
df.index.argmax()

1

In [27]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [28]:
df.index.argmin()

0

In [29]:
df.index.min()

Timestamp('2016-01-01 00:00:00')