In [16]:
import pandas as pd
import numpy as np
from numpy.random import randn

np.random.seed(101)

In [17]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])

In [19]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

the dataframe has 2 levels of row

In [21]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

accessing value from multiple index dataframe

In [23]:
df.index.names = ['Groups', 'Num']

In [24]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [25]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

accesign value

In [30]:
df.xs(1, level='Num')

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965

getting values inside out