In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ab_test_results = pd.read_csv('../DATASETS/AB_testing_exercise.csv')
ab_test_results.head()

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I
2  11128688     USA      F   2394          6  2017-09-17  GRP A      I
3  11130578     USA      F   1197          3  2017-11-30  GRP A      I
4  11130759     ESP      M   1297          3  2018-01-10  GRP B      A

In [5]:
results = ab_test_results.groupby('group').agg({'uid':pd.Series.nunique})
print(results)

         uid
group
GRP A  23009
GRP B  22874

In [9]:
unique_users = len(ab_test_results.uid.unique())
print(unique_users)

45883

In [10]:
results = results / unique_users *100
print(results)

             uid
group
GRP A  50.147113
GRP B  49.852887

# grouping on gender device and group

In [12]:
results = ab_test_results.groupby(by = ['group', 'device', 'gender']).agg({'uid':pd.Series.nunique})
print(results)

                      uid
group device gender
GRP A A      F       5616
             M       5871
      I      F       5755
             M       5767
GRP B A      F       5760
             M       5735
      I      F       5636
             M       5743

In [13]:
unique_users = len(ab_test_results.uid.unique())
print(unique_users)
results = results / unique_users *100
print(results)

45883
                           uid
group device gender
GRP A A      F       12.239827
             M       12.795589
      I      F       12.542772
             M       12.568925
GRP B A      F       12.553669
             M       12.499183
      I      F       12.283417
             M       12.516618

In [14]:
def get_pvalue(con_conv, test_conv, con_size, test_size):  
    #control conv rate, test conv rate, sizes
    lift =  - abs(test_conv - con_conv)

    scale_one = con_conv * (1 - con_conv) * (1 / con_size)
    scale_two = test_conv * (1 - test_conv) * (1 / test_size)
    scale_val = (scale_one + scale_two)**0.5

    p_value = 2 * stats.norm.cdf(lift, loc = 0, scale = scale_val )

    return p_value

In [15]:
from scipy.stats import norm

def get_ci(value, cl, sd):
    loc = sci.norm.ppf(1 - cl/2)
    rng_val = sci.norm.cdf(loc - value/sd)

    lwr_bnd = value - rng_val
    upr_bnd = value + rng_val 

    return_val = (lwr_bnd, upr_bnd)
    return(return_val)