In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
aapl = pd.read_csv('AAPL_CLOSE', index_col='Date', parse_dates = True)
amzn = pd.read_csv('AMZN_CLOSE', index_col='Date', parse_dates = True)
ibm = pd.read_csv('IBM_CLOSE', index_col='Date', parse_dates = True)
cisco = pd.read_csv('CISCO_CLOSE', index_col='Date', parse_dates = True)

In [5]:
stocks = pd.concat([aapl, cisco, ibm, amzn], axis = 1)
stocks.columns = ['aapl', 'cisco', 'ibm', 'amzn']

In [6]:
stocks.head()

                 aapl      cisco         ibm    amzn
Date
2012-01-03  53.063218  15.752778  160.830881  179.03
2012-01-04  53.348386  16.057180  160.174781  177.51
2012-01-05  53.940658  15.997991  159.415086  177.61
2012-01-06  54.504543  15.938801  157.584912  182.61
2012-01-09  54.418089  16.040268  156.764786  178.56

In [7]:
stocks.pct_change(1).mean()

aapl     0.000750
cisco    0.000599
ibm      0.000081
amzn     0.001328
dtype: float64

In [8]:
stocks.pct_change(1).corr()

           aapl     cisco       ibm      amzn
aapl   1.000000  0.301990  0.297498  0.235487
cisco  0.301990  1.000000  0.424672  0.284470
ibm    0.297498  0.424672  1.000000  0.258492
amzn   0.235487  0.284470  0.258492  1.000000